/* Add this CSS in your component's stylesheet */

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34; /* Dark background color */
  
}

.login-container {
  background-color: #f0f0f0;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  text-align: center; /* Center align the child elements */
  margin-left: 39vw;
  margin-top: 150px;
}

.login-container:hover {
  transform: scale(1.05);
}

h2 {
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
}

button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 15px;
  color: #777;
  font-size: 14px;
}
